.label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--gray-color);
    margin-bottom: 10px;
}

.input {
    margin-bottom: 20px;
    outline: none;
    max-width: 414px;
    width: 100%;
    padding: 16px 15px;
    border-radius: 8px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 16px;

    &::placeholder {
        font-size: 14px;
        color: var(--gray-color);
        font-weight: 400;
    }

    &:focus {
        border-color: var(--primary-color);
    }
}
